$theme_gradient: linear-gradient(45deg, #F65CBA, #F6E25C, #39C2F1); // rainbow

.d-header {
  background: $theme_gradient;
}

// Post grippie thanks to MeghnaAJ's discourse-rainbow-theme
.open .grippie {
  background: $theme_gradient;

  &:before {
      border-top: 3px double var(--secondary);
    }
}

// Readability
.categories-wrapper .category-name {
    color: white;
}

.d-header {
    .topic-header-extra .discourse-tag {
    color: white !important;
    }
    .topic-header-extra .d-icon {
    color: white;
    }
    .topic-header-extra .topic-featured-link {
    color: white;
    }
}

button.sign-up-button, button.login-button {
    background-color: #447ce4;
    .discourse-no-touch & {
    &:hover {
        background-color: #71a0f7;
        }
    }
}

/* FA closed and assign */
.header-title .d-icon {
    color: white !important;
}

// Header nav

.d-header-icons {
  .drop-down-mode & {
    .active .icon {
      color: $primary-medium;
      .d-icon {
        color: $primary-medium;
      }
    }
  }
}

// Search

// Advanced Search thanks to MeghnaAJ's discourse-rainbow-theme
// *------------------------------------------------*
.search-container .search-advanced-sidebar {
  .search-advanced-title {
    background: $theme_gradient;
    border-radius: 10px 10px 0 0;
  }
  .search-advanced-filters {
    border-radius: 0 0 10px 10px;
  }
}
